<!doctype html>
<html>
<head>
  <title>Tailor Example Application</title>
  <meta charset='UTF-8'>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <!-- <link rel="stylesheet" type="text/css" href="http://localhost:6006/main.css" />  -->
  <script src="http://localhost:8080/bundle.js"></script>
  <script src="http://localhost:6006/bundle.js"></script>
  <style>
    body {
      background: #ECEFF4;
    }
  </style>
  <script>
    // (function(d) {
    //   require(d);
    //   var arr = [ 'react', 'react-dom', 'prop-types', 'classnames', 'proppy', 'proppy-react', 'antd', 'antdcss'];
    //   while (i = arr.pop())(function(dep) {
    //     define(dep, d, function(b) {
    //       return b[dep];
    //     })
    //   })(i);
    // }(['http://localhost:6006/bundle.js']));
    function copyText () {
      const reapps = [ 
          // { 
          //   name: 'other', entry: 'http://localhost:7010', contain: document.getElementById('other'),  baseUrl: '/other',
          //   canActive(){
          //     return location.pathname.startsWith('/other/')
          //   }
          // },
          // { 
          //   name: 'other', entry: 'http://localhost:7010', contain: document.getElementById('other2'),  baseUrl: '/other2',
          //   canActive(){
          //     return location.pathname.startsWith('/other2/')
          //   }
          // },
          { 
            name: 'fragmentvue', entry: 'http://localhost:7020', contain: document.getElementById('other2'),  baseUrl: '/other2',
            canActive(){
              return location.pathname.startsWith('/other2/')
            }
          },
        ]
        app.registerApps(reapps)
    }
  </script>
</head>
<body>
  
  <div id="header"></div>
  <div id="contacts"></div>
  <div id="chat"></div>
  <div id="dashboard"></div>

  <div id="demo" class="demo"></div>
  <div style="border:1px solid #000; padding:10px;text-align: center;background:#fff;" onclick="copyText()">添加子应用</div>
  <div><a href="javascript:;" onclick="history.pushState(null, null, '/other/about')">/other/about</a></div>
  <div><a href="javascript:;" onclick="history.pushState(null, null, '/other2/about')">/other2/about</a></div>
  <div><a href="javascript:;" onclick="history.pushState(null, null, '/other2/helloworld')">/other2/helloworld</a></div>

  <!-- <div id="hot"  class="hot"></div> -->
  <div id="other"></div>
  ==================================
  <div id="other2"></div>
  <!--chat-->
  <div id="tailor_template">
  <!-- dashboard -->
  <fragment src="http://localhost:3006"></fragment>
  <!-- <fragment src="http://localhost:8081"></fragment>  -->
  <!-- demo -->
  <!-- <fragment src="http://localhost:5000"></fragment> -->
  <!-- <fragment src="http://localhost:7010"></fragment> -->
  
  </div>
</body>
</html>
